<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:body>
	    <h1>Curso  Java <h:outputText value=", Olá #{helloWorldController.name}" rendered="#{helloWorldController.name != null}" ></h:outputText> </h1> <br/>
    	<h:form>
    		<h:panelGrid columns="2">
    			<h:outputText value="Diga Olá"></h:outputText>
    			<h:outputText value=""></h:outputText>
    			<h:outputText value="Nome"></h:outputText>
    			<h:inputText value="#{helloWorldController.name}"></h:inputText>
    			<h:commandButton action="#{helloWorldController.hello}" value="Enviar"></h:commandButton>
    		</h:panelGrid>
    	</h:form>
	</h:body>
</html>