<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
       
	  <p:panel rendered="#{clientController.insert || clientController.update}">
	   	  Por favor insira os dados do cliente:
		  <hr></hr>
		  <p:panelGrid columns="2">
		   	   Nome: 
		   	   <p:inputText value="#{clientController.client.name}"></p:inputText>
		   	   Data Nascimento: 
		   	   <p:calendar value="#{clientController.client.birthdayDate}" navigator="true" pattern="dd/MM/yyyy" mindate="1/1/1900"/>
		   	   CPF: 
		   	   <p:inputText value="#{clientController.client.documentNumber}" disabled="#{clientController.update}"></p:inputText>
		   	   Filiação (Materna): 
		   	   <p:inputText value="#{clientController.client.motherName}"></p:inputText>
		   	   Gênero: 
		   	   <p:selectOneMenu value="#{clientController.client.gender}">
		   	   		<f:selectItem itemLabel="Selecione..." itemValue=""></f:selectItem>
		   	   		<f:selectItem itemLabel="Masculino" itemValue="M"></f:selectItem>
		   	   		<f:selectItem itemLabel="Feminino" itemValue="F"></f:selectItem>
		   	   		<f:selectItem itemLabel="Outros" itemValue="O"></f:selectItem>
		   	   </p:selectOneMenu>
		   	   <p:commandButton value="Confirm" action="#{clientController.registerClient}" rendered="#{clientController.insert}" ajax="false"></p:commandButton><br/>
		   	   <p:commandButton value="Update" action="#{clientController.updateClient}" rendered="#{clientController.update}"  ajax="false"></p:commandButton><br/>
	   	   </p:panelGrid>
   	   </p:panel>
</html>